[submodule "pkg/mjson"]
	path = pkg/mjson
	url = https://github.com/cesanta/mjson.git
[submodule "pkg/nats"]
	path = pkg/nats
	url = https://github.com/nats-io/nats.c.git
[submodule "pkg/str"]
	path = pkg/str
	url = https://github.com/mickjc750/str.git
